body {
    background-color: aqua;
    color: black;
    text-align: center;
    font-family: "Arial";
}
#container {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serifS;
}
#cabecera {
    background: #33A;
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.75);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}